.building__content {
  perspective-origin: 0;
  perspective: 1500px;
  transform-style: preserve-3d;
}

.building__img {
  transform: rotateY(-35deg) rotateX(15deg);
  box-shadow: 25px 60px 125px -25px rgb(80 102 144 / 10%),
    16px 40px 75px -40px rgb(0 0 0 / 20%);
}
