@media only screen and (max-width: 768px) {
  .hero__inner {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .hero__img {
    margin-left: -70px;
    width: 400px;
    height: 250px;
  }

  .heading {
    width: 100%;
  }

  .dashkit {
    width: 200px;
    height: 90px;
  }

  .yoga__inner {
    flex-direction: column-reverse;
  }

  .yoga__heading {
    width: 100%;
  }

  .carousel-item {
    flex-direction: column;
  }

  .standard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .card {
    width: 400px;
    margin: 0;
  }
}
